@media screen and (max-width: 1600px) {
    html {
        font-size: 55%;
    }
    
/* header + Home */

    .home-content {
        margin-right: 30px;
        margin-left: 30px;
    }

    .home-img {
        padding-right: 30px;
    }

    /* Pop Up */
    
    .popup {
        margin-top: 100px;
    }

    /* Portfolio */ 

    .portfolio-layer {
        opacity: 0; /* Assurez-vous que l'élément est caché par défaut */
        transform: translateY(100%); /* Positionnez-le hors de la vue */
    }
    .portfolio-box:hover .portfolio-layer {
        opacity: 1; /* Rendre visible lors du survol */
        transform: translateY(0); /* Remettre à la position d'origine */
    }

    .portfolio-layer h4 {
        font-size: 3rem;
    }

    .portfolio-layer p {
        font-size: 1.5rem;
    }

}


@media screen and (max-width: 790px) {
    * {
        max-width: 100vw;
    }

    .menu-hamburger {
        display: block;
        left: 0;
        z-index: 1000;
    }

    .navbar {
        top: 0;
        right: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        width: 30%;
        height: 100vh;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: -100%;
        transition: all 0.5s ease;
    }

    .navbar.mobile-menu {
        margin: 0;
    }

    .navbar a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        padding-right: 30px;
    }

    #menu-icon {
        display: block;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 4.3rem;
    }

    .home-img img {
        width: 65vw;
        margin-top: 4rem;
        margin-bottom: 50px;
        margin-left: 30px;
        display: flex;
        justify-content: center;
    }

    /* Pop -up menu */

    .popup {
        margin-top: 600px;
        width: 90vw;
    }

    .popup h2 {
        font-size: 28px;
    }

    .btn-cv {
        width: 255px;
        margin-left: 30px;
    }

    /* about */

    .about {
        flex-direction: column;
    }

    .about-img img {
        width: 90vw;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 3rem;
    }

    .about-content {
        max-width: 90vw;
        height: 360px;
    }

    .about-content p {
        margin-right: 40px;
    }

    /* My Service */

    .service-box{
        max-height: 650px;
    }

    .service-box.wd {
        height: 640px;
    }

    .service-box p {
        font-size: 2rem;
    }

    .service-box h3 {
        font-size: 3.5rem;
    }

    /* Portfolio */

    .portfolio-container {
        grid-template-columns: none;
    }

    .portfolio-box img {
        width: 90vw;
    }

    /* Footer */

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        height: 40px;
    }

    .footer-text  {
        font-size: 12px;
    }

    .footer-icon-top {
        display: flex;
        padding: .4rem .4rem;
    }
}


@media screen and (max-width: 430px) {

    * {
        max-width: 100vw;
    }

    .menu-hamburger {
        display: block;
        left: 0;
        z-index: 1000;
    }

    .navbar {
        top: 0;
        right: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        width: 30%;
        height: 100vh;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: -100%;
        transition: all 0.5s ease;
    }

    .navbar.mobile-menu {
        margin: 0;
    }

    .navbar a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        padding-right: 30px;
    }

    #menu-icon {
        display: block;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 4.3rem;
    }

    .home-img img {
        width: 90vw;
        margin-top: 4rem;
        margin-bottom: 50px;
        margin-left: 30px;
        display: flex;
        justify-content: center;
    }

    /* Pop -up menu */

    .popup {
        margin-top: 600px;
        width: 90vw;
    }

    .popup h2 {
        font-size: 28px;
    }

    .btn-cv {
        width: 255px;
        margin-left: 30px;
    }

    /* about */

    .about {
        flex-direction: column;
    }

    .about-img img {
        width: 90vw;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 3rem;
    }

    .about-content {
        max-width: 90vw;
        height: 360px;
    }

    .about-content p {
        margin-right: 40px;
    }

    /* My Service */

    .service-box p {
        font-size: 2rem;
    }

    .service-box h3 {
        font-size: 3.5rem;
    }

    /* Portfolio */

    .portfolio-container {
        grid-template-columns: none;
    }

    .portfolio-box img {
        width: 90vw;
    }

    /* Footer */

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        height: 40px;
    }

    .footer-text  {
        font-size: 12px;
    }

    .footer-icon-top {
        display: flex;
        padding: .4rem .4rem;
    }
}